/* @theme slate */

@import "gaia";
@import url("https://fonts.googleapis.com/css2?family=Bitter&family=Open+Sans&display=swap");

:root {
  padding: 2.5em;
  background-image: none;
  font-size: 32px;
}

section {
  --color-background: #ffffff;
  --color-background-stripe: #e2e8f0;
  --color-foreground: #1e293b;
  --color-dimmed: #334155;
  --color-highlight: #0284c7;
  --code-background: #1e293b;

  font-family: "Open Sans", sans-serif;
  overflow: hidden;
}

section.invert {
  --color-background: #1e293b;
  --color-background-stripe: #334155;
  --color-foreground: #ffffff;
  --color-dimmed: #e2e8f0;
  --color-highlight: #7dd3fc;
  --code-background: #111827;
}

.footnote {
  z-index: 1;
  position: absolute;
  bottom: 50px;
  left: 34px;
  padding: 0px 25px;
  font-size: 0.5em;
}

.footnote > ul,
.footnote > ol {
  padding: 0;
}

sup {
  font-size: x-small;
}

a {
  display: inline-block;
}

section::after {
  font-size: 0.5em;
  right: 1em;
  bottom: 0px;
}

header {
  top: 0px;
  left: 1em;
}

footer {
  bottom: 0px;
  left: 1em;
}

footer,
header {
  font-size: 0.4em;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitter", serif;
}

ul {
  margin-top: 0.6em;
  margin-bottom: 1em;
}

p,
li {
  font-size: 0.8em;
}

blockquote {
  margin: 1em 0 0;
  padding: 0 0.5em;
  position: relative;
  border-left: 5px solid var(--color-highlight);
  font-size: 0.8em;
}

blockquote::after,
blockquote::before {
  content: none;
}

code {
  background-color: var(--color-background-stripe);
  color: var(--color-foreground);
  padding: 0 0.2em;
  margin: 0;
  border-radius: 0.2rem 0.2rem 0.2rem 0.2rem;
  font-size: 1em;
  letter-spacing: 1.25px;
}

pre > code.hljs {
  display: block;
  overflow-x: auto;
}

pre > code {
  padding: 20px 25px;
}

pre > code {
  color: #abb2bf;
  background: var(--code-background) !important;
  border-radius: 0.5em;
}

.hljs-comment,
.hljs-quote {
  color: #5c6370;
  font-style: italic;
}
.hljs-doctag,
.hljs-formula,
.hljs-keyword {
  color: #c678dd;
}
.hljs-deletion,
.hljs-name,
.hljs-section,
.hljs-selector-tag,
.hljs-subst {
  color: #e06c75;
}
.hljs-literal {
  color: #56b6c2;
}
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #98c379;
}
.hljs-attr,
.hljs-number,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-pseudo,
.hljs-template-variable,
.hljs-type {
  color: #d19a66;
}

.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-symbol,
.hljs-title {
  color: #61aeee;
}
.hljs-built_in,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: #e6c07b;
  text-decoration: none;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: 700;
}
.hljs-link {
  text-decoration: underline;
}
